{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="header">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 header-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-info">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 header-image">
                <img src="{% static 'assets/images/Library-200.jpg' %}" class="full-width" alt="Library Image">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3">
            <div class="card-body">
                <p class="card-text">{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Comment Counter -->
<div class="row">
    <div class="col-12">
        <strong class="text-on-dark">
            <i class="far fa-comments"></i> {{ total_comments }}
        </strong>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>

<!-- Displays The Comments -->
<div class="row">
    <div class="container col-md-8 card mb-4 mt-3">
        <h3>Comments:</h3>
        <div class="card-body">
            {% for comment in user_comments %}
                <div class="p-2 comment-item{% if not comment.approved and comment.author == user %} faded{% elif not comment.approved %} d-none{% endif %}">
                    <p class="font-weight-bold">
                        {{ comment.author }}
                        <span class="font-weight-normal">{{ comment.created_on }}</span> said:
                    </p>
                    <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                    </div>
                    {% if not comment.approved and comment.author == user %}
                        <p class="approval-message">Your comment is waiting for approval from an admin</p>
                    {% endif %}
                    {% if user.is_authenticated and comment.author == user %}
                        <button class="btn delete-btn" comment_id="{{ comment.id }}">Delete Comment</button>
                        <button class="btn edit-btn" comment_id="{{ comment.id }}">Edit Comment</button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Comments Section for Authenticated Users -->
<div class="col-md-4 card mb-4 mt-3">
    <div class="card-body">
        {% if user.is_authenticated %}
            <h3>Let Us Know What You Think:</h3>
            <p>Username: {{ user.username }}</p>
            <form id="commentForm" method="post" style="margin-top: 1.25em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button id="buttonSubmit" type="submit" class="btn btn-signup post-button">Submit</button>
            </form>
        {% else %}
            <p>If You Would Like To Leave a Comment Please Log In</p>
        {% endif %}
    </div>
</div>

<!-- Modal For Deleting Comments -->
<div class="fade modal" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modalDeleteLabel">Delete Your Comment?</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">Are you sure you want to proceed? This cannot be undone.</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="#" id="confirmDelete" class="btn btn-danger">Delete Comment</a>
            </div>
        </div>
    </div>
</div>

<script>
    var post_slug = "{{ post.slug }}";
</script>
{% endblock content %}

{% block scripts %}
<script src="{% static 'assets/js/comment.js' %}"></script>
{% endblock scripts %}
 



