{% extends 'base.html' %} {% block content %}


{% load static %}
<div class="header">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 header-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-info">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 header-image">
                <img src="{% static 'assets/images/Library-200.jpg' %}" class="full-width" alt="Library Image">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3">
            <div class="card-body">
                <p class="card-text">
                    {{ post.content | safe }}
            </div>
        </div>
    </div>
<!-- Comment Counter -->
<div class="row">
    <div class="col-12">
        <strong class="text-on-dark">
            <i class="far fa-comments"></i> {{ total_comments }}
        </strong>
    </div>
    <div class="col-12">
        <hr>
    </div>
</div>

<!-- Displays The Comments -->
<div class="row">
    <div class="col-md-8 card mb-4 mt-3">
        <h3>Comments:</h3>
        <div class="card-body">
            <!-- Loop for iterating through comments -->
            {% for feedback in user_comments %}
            <div class="p-2 comment-item
            {% if not feedback.approved and feedback.author == current_user %}
            faded{% elif not feedback.approved %} d-none{% endif %}">
                <p class="font-weight-bold">
                    {{ feedback.author }}
                    <span class="font-weight-normal">
                        {{ feedback.created_on }}
                    </span> said:
                </p>
                <div id="comment{{ feedback.id }}">
                    {{ feedback.content | linebreaks }}
                </div>
                {% if not feedback.approved and feedback.author == current_user %}
                <p class="approval-message">
                    Your comment is waiting for approval from an admin
                </p>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

