{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="header header-compact">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-on-dark post-title">Contact Us</h1>
                <p class="text-on-dark">Have a question or feedback? We'd love to hear from you!</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mt-4 offset-md-2">
            <div class="card">
                <div class="card-body box-background text-on-dark">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn mt-3">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}